
nav ul{
  background-color: #151515;
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  text-align: left;
  display: flex;
}
nav ul li a {
  display: block;
  color: #000;
  padding: 16px 16px;
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  background-color: #555;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151515;
  width: 100%;
  height: 100%;
}

.searchPics {
  height: 200px;
  width: 150px;
  border-radius: 10%;
  margin: 10px;
  box-shadow: 0 0 4px 0 lightgray;
}

.searchResults {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr;
}

.featuredPics {
  display: grid;
  text-align: center;
  text-shadow: 0 0 6px lightgray;
  margin: 0 auto;
  place-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 400px;
  border: .5px solid darkgray;
  background-color: lightgray;
}

.featuredPic {
  border-radius: 10%;
  height: 300px;
  margin: 10px;
  box-shadow: 0 0 6px 0 darkgray;
  transition: all .2s ease-in-out;
}

.featuredPic:hover {
  transform: scale(1.1);
}

.featuredContainer h1{
  color: dimgray;
  margin: 10px;
  font-family: 'Inconsolata', monospace;
}
 /*---------------------------- Gradient segment---------------------- */

.seperator-wrapper {
  width: 100%;
}
.seperator-wrapper .seperator {
  width: 3000px;
  height: 5px;
  animation: rotate 3s infinite linear;
  -webkit-animation: rotate 3s infinite linear;
}

@-webkit-keyframes rotate {
  from {
    background-position: -3000px;
  }
  to {
    background-position: 0px;
  }
}
@keyframes rotate {
  from {
    background-position: -3000px;
  }
  to {
    background-position: 0px;
  }
}
.gradient {
  background: #30ff90;
  /* Old browsers */
  background: -moz-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #30ff90), color-stop(25%, #ed2ded), color-stop(50%, #c99826), color-stop(75%, #30ffe6), color-stop(100%, #30ff90));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
  /* IE10+ */
  background: linear-gradient(to right, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30ff90', endColorstr='#30ff90',GradientType=1 );
  /* IE6-9 */
}

/* -----------------------------Gradient ends------------------------------- */
/* __________________________Card styles__________________________  */


.profile-card {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: scroll;
  opacity: 0;
  margin-top: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;

}

.profile-bio{
  text-align: center;
}


.background2 {
  background-image: url("background1.jpg");
  background-color: #252525;
  height: 100vh;
}

/* _______________Beginning Card Syle Animation_______________  */
@-webkit-keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@-webkit-keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    -webkit-border-radius: 0px;
  }
}

@keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@-webkit-keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes moveUp {
  0% {
    background: #da1a40;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #E0E0E0;
  }
}

@keyframes moveUp {
  0% {
    background: #da1a40;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #E0E0E0;
  }
}

@-webkit-keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    -webkit-border-radius: 4px;
  }
  100% {
    width: 440px;
    height: 280px;
    background: #FFFFFF;
    -webkit-border-radius: 4px;
  }
}

@keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 440px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 4px;
  }
}

@-webkit-keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  body {
    background-size: cover;
  }
  body:before {
    width: 0px;
  }
  @-webkit-keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
}

@media screen and (min-height: 480px) {
  .profile-card header {
    width: auto;
    height: auto;
    padding: 30px 20px;
    display: block;
    float: none;
    border-right: none;
  }
  .profile-card .profile-bio {
    width: auto;
    height: auto;
    padding: 15px 20px 30px 20px;
    display: block;
    float: none;
  }
  .profile-social-links {
    width: 100%;
    display: block;
    float: none;
  }
  @-webkit-keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      -webkit-border-radius: 4px;
    }
    100% {
      width: 280px;
      height: 440px;
      background: #FFFFFF;
      -webkit-border-radius: 4px;
    }
  }
  @keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      border-radius: 4px;
    }
    100% {
      width: 280px;
      height: 490px;
      background: #FFFFFF;
      border-radius: 4px;
    }
  }
}
/* _______________Beginning Card Syle Animation_______________  */
/* _____________________________ End Card Styles_________________________________ */

/* ______________________________Beginning Search Bar section___________________________________ */

.powers{
  text-align: center;
}

#hometitle{
  font-family: 'Libre Barcode 128 Text', sans-serif;
  font-size: 6rem;
  font-weight: 100;
  text-align: center;
  color: #DC143C;
  position: relative;
  background: linear-gradient(to right, #990254, #DC143C, #990254, aqua);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:link {
  text-decoration: none;
}
.container2 {
  display: grid;
  place-items: center;
}
/* SEARCH BAR (still working on getting the search icon to show without clicking it. Not sure why it disappeared.) */
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

.container {
  position: fixed;
  top: 0;
  right: 20px;
  bottom: 0;
  width: 300px;
  height: 100px;
}

.container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: linear-gradient(to right, #990254, #B0094B, #DC143C);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container .search:hover {
  cursor: pointer;
}
.container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
}

.container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}
.container input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  outline: none;
  border: none;
  background: linear-gradient(to right, #990254, #B0094B, #DC143C);
  color: white;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.container input:hover {
  cursor: pointer;
}
.container input:focus {
  width: 200px;
  opacity: 1;
  cursor: text;
}
.container input:focus ~ .search {
  right: -250px;
  background: linear-gradient(to right, #DC143C, #B0094B, #990254);
  z-index: 6;
}
.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.container input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.disappear {
  visibility: hidden;
}

.searchContainer {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) ) ;
}

.wrapper {
  display: grid;
  text-align: center;
  place-items: center;
  background-color: lightgray;
}

.wrapper h1{
  color: dimgray;
  margin: 10px;
  font-family: 'Inconsolata', monospace;
}
/* CSS Spinnner Loader */

.spinnerHolder {
  height: 100vh;
  width: 100%;
}

.lds-hourglass {
  display: grid;
  place-items: center;
  width: 64%;
  height: 64%;
  margin: auto;
}
.lds-hourglass:after {
  content: " ";
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #9E0453 #DB143D #9E0453  #DB143D;
  animation-name: lds-hourglass;
  animation-duration: 1.2s, 1.2s;
  animation-iteration-count: infinite, infinite;

}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0) scale(1.0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg) scale(40.0) ;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg) scale(1.0);

  }
}
/* ______________________________End Search bar section___________________________________ */

/* ______________________________Beginning Power Level section___________________________________ */

.powers{
    display: grid;
    /* background: rgba(3, 3, 3, 0.1);  */
    /* background-image: url('https://wallpapercave.com/wp/wp2730746.gif'); */
    /* background-image: url('https://wallpapercave.com/wp/wp2757832.gif'); */
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    text-align: center;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 

}

.powerLevels{
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr, 1fr) );
  display: grid;
  grid-gap: 300px;
  grid-template-columns: 1fr 1fr;

}

.tittle h1{
  display: grid;
  place-items: center;
  background-color: rgba(21, 21, 21, 0.8);
  padding: 30px;
  margin-top: 0px;
  border-radius: 20px;
  
} 

.left{
  display: grid;
  place-items: center;
  background-color: rgba(21, 21, 21, 0.8);
  padding: 30px;
  margin-top: 0px;
  border-radius: 20px;
  
}

.right{
  display: grid;
  place-items: center;
  background-color: rgba(21, 21, 21, 0.8);
  padding: 30px;
  margin-top: 0px;
  border-radius: 20px;
}

.big-box{
  display: grid;
  place-items: center;
}

/* ______________________________END Power Level section___________________________________ */

.txs0{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: white;
  /* grid-template-columns: 1fr 1fr; */

}

.txs1{
  display: grid;
  margin-top: 30px;
  text-align: center;
  color: #151515;
  letter-spacing: .1em;


}

.txs2{
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(1, 40%);
  grid-column-gap: 100px;
  

}

.gifright{
  display: grid;
  padding: 200px;
  border-radius: 20px;
  background-image: url('https://i.pinimg.com/originals/e8/2d/d7/e82dd7c3a8d4fbaba85e136701770d8d.gif');
  background-size: contain;
  background-repeat: no-repeat;
 
}

.txs3 {
  display: grid;
  margin-bottom: 30px;
  text-align: center;
  color: #151515;
  letter-spacing: .1em;


}
